#a{
    opacity: 47%;
    width: 470px;
    float: right;
    margin-top: -300px;
}
#b{
    margin-left: 200px;
    margin-top: 140px;
}
#c{
    margin-left: 200px;
    margin-top: 30px;
}
span{
    color: rgb(56, 130, 228);
}
#d{
    width: 200px;
    margin-left: 144px;
    margin-top: -30px;
}
.k{
    margin-left: 470px;
}
